body {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    text-align: center;
}

button {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    font-size: 16px;
}

.header a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.header a:hover {
    color: red;
}

.header a:active {
    color: white;
    background-color: red;
}

.content {
    margin-top: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.first a {
    padding: 7px 10px 0 10px;
}

.jump-to {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 400px;
}

.jump-to a {
    text-decoration: none;
    color: black;
    border-style: solid;
    border-color: white;
    padding: 8px;
}

.jump-to a:hover {
    border-color: red;
}

.episodes {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 30px;
    margin-bottom: 150px;
    margin-top: 150px;
}

.episodes ul {
    list-style: none;
}

.ep {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ep img {
    margin: 10px;
}

.ep a,
.first a {
    border-style: solid;
    border-color: white;
}

.ep a:hover, 
.first a:hover {
    border-style: solid;
    border-color: red;
}

.theme {
    color: red;
    font-style: italic;
}

.writing img {
    margin-bottom: 30px;
}

.title h3 {
    margin: 0;
}

.samples .sample img {
    margin: 10px;
}

.samples {
    display: flex;
    flex-direction: column;
}

.sample {
    display: flex;
    border-bottom: 2px solid black;
    margin-bottom: 30px;
    align-items: flex-start;
}

.sample p {
    margin-top: 0;
    margin-left: 30px;
    text-align: left;
    flex: 1 
}
.footer {
    display: flex;
    align-self: center;
    margin-top: auto;
}

.contact {
    margin: 50px;
}
 .contact img:hover {
    border-style: dashed;
    border-color: rgb(0, 0, 0)
 }

 .contact img {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding: 8px;
}